.dnd5e.sheet .sheet-header .summary li,
.dnd5e.sheet.item .weapon-properties label.checkbox,
.dnd5e.sheet.actor ul.skills-list li.skill h4
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dnd5e.sheet .sheet-header .summary li:hover,
.dnd5e.sheet.item .weapon-properties label.checkbox:hover,
.dnd5e.sheet.actor ul.skills-list li.skill h4:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
    background-color: rgb(215,213,201);
    height: auto;
    position: relative;    
    border: 2px groove #eeede0;
  }
  
